@import "~bootstrap/scss/bootstrap.scss";
body {
    background-color: #fcefea;
}
 h1 {
     font-family: 'Lemonada', cursive;
     color: #ec7474
 }
input{

}
.list-body {
    background-color: #fff9f7;
    border-radius: 10px;
    box-shadow: 5px 10px 20px 0px rgb(133, 133, 133);
}

li {
    border: solid 1px gray;
    background-color: #ffffff;
    display: flex;
}

span {
    display: none;
    color: red;
}


li:hover  span {
    display: block;
}

span:hover {
    font-size: 1.2rem;
}